{% extends '__base.html' %}
{% block content %}


<style>
    #maxim {
        font-size: 22pt;
    }

    .table {
        max-width: 80em !important;
    }
</style>

<body class="d-flex h-100 text-bg-dark">

    <main class="px-3">
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">


        <br>
        <br>
        <h1>Ekledigim Veriler</h1>
        <p>
        </p>
        <p></p>

        <hr>
        <table class="table table-dark">
            <thead>

                <tr>
                    <th scope="col">[]</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Ekleyen</th>
                    <th>*</th>
                </tr>
            </thead>
            <tbody>
                {% for maxim in user_maxim %}
               
                <tr>
                    
                    <td>{{maxim.maxim}}</td>
                    <td>{{maxim.category}}</td>
                    <td>{{maxim.maxims}}</td>
                    <td>
                        {% if maxim.maxims == current_user %}
                        <a href="{{url_for('delete_maxim', maxim_id=maxim.id)}}"
                            class="btn btn-sm btn-outline-danger">R</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>





        <br>
        <br>

        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}

        <script>
            Swal.fire({
                title: '',
                text: '{{message}}',
                icon: '{{category}}',
                confirmButtonText: 'Tamam'
            })
        </script>


        {% endfor %}
        {% endif %}
        {% endwith %}




    </main>
</body>







{% endblock %}